# HSMA 6 - Session 4E - Boosted Trees Exercise 2 - Regression Trees

We're going to work with a dataset to try to predict patient length of stay.

In [2]:
import pandas as pd

# import the relevant models from Sklearn, XGBoost, CatBoost and LightGBM
# YOUR CODE HERE

# import any other libraries you need
# YOUR CODE HERE

Load in the dataframe.

In [5]:
los_df = pd.read_csv("../datasets/los_dataset/LengthOfStay.csv", index_col="eid")

View the dataframe.

In [6]:
los_df.head()

,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,depress,...,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,facid,lengthofstay
eid,,,,,,,,,,,,,,,,,,,,,
1,8/29/2012,0,F,0,0,0,0,0,0,0,...,140.361132,192.476918,12.0,1.390722,30.432418,96,6.5,4,B,3
2,5/26/2012,5+,F,0,0,0,0,0,0,0,...,136.731692,94.078507,8.0,0.943164,28.460516,61,6.5,1,A,7
3,9/22/2012,1,F,0,0,0,0,0,0,0,...,133.058514,130.530524,12.0,1.065750,28.843812,64,6.5,2,B,3
4,8/9/2012,0,F,0,0,0,0,0,0,0,...,138.994023,163.377028,12.0,0.906862,27.959007,76,6.5,1,A,1
5,12/20/2012,0,F,0,0,0,1,0,1,0,...,138.634836,94.886654,11.5,1.242854,30.258927,67,5.6,2,E,4

Consider what columns to remove.

Convert categories with only two options into a boolean value (e.g. for a gender column in which gender has only been provided as M or F, you could encode M as 0 and F as 1).

Convert columns with multiple options per category into multiple columns using one-hot encoding.

Train a model to predict length of stay based on the variables in this dataset.